@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
	-webkit-box-shadow:$top $left $blur $color #{$inset};
	-moz-box-shadow:$top $left $blur $color #{$inset};
	box-shadow:$top $left $blur $color #{$inset};
}

@mixin box-shadow-clear() {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

@mixin round-corners($radius) {
    -moz-border-radius: $radius;    // firefox
    -webkit-border-radius: $radius; // safari/chrome
    border-radius: $radius;         // CSS3, works in IE9
}

@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

.left {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 40%;
	background: #EEE;
}

.right {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 60%;
	right: 0px;
	background: url('/grey_wash_wall.png');
	@include box-shadow(0px, 0px, 20px, rgba(0, 0, 0, 0.5), inset);
}

$subtle-line: #DDD;
$button-face: #8AC;

.tools {
	background: #888;
	padding: 8px 8px;

	height: 25px;

	@include gradient(#FFF, #EEE);

	border-bottom: 1px solid lighten($subtle-line, 100);

	#tags {
		position: relative;
		top: 3px;

		a.tag, a.tag {
			padding: 6px 8px;
			margin: 0px 0px;
			text-decoration: none;
			color: #468;
		}

		a.tag:hover, a.tag:active {
			color: #246;
		}

		.active {
			@include round-corners(20px);
			@include gradient(#DDD, #FFF);
			border-top: 1px solid #FFF;
			border-bottom: 1px solid #DDD;
		}
	}
}

.tasks-list {
	border-bottom: 1px solid $subtle-line;

	a, a:visited {
		text-decoration: none;
		color: #444;
	}

	.task-item:hover {
		//@include gradient(#F0F0F0, #D0D0D0);
		background: #EEE;
	}

	.task-item {
		@include gradient(#FFF, #EEE);
		border-top: 1px solid $subtle-line;
		border-bottom: 1px solid lighten($subtle-line, 50);
		padding: 0.8em;
		font-size: 14px;
	}

	.active .task-item {
		@include gradient(#005580, #0088cc);
		border-bottom: 1px solid #005580;
		color: white;
		text-shadow: 0px -1px 0px #0088cc,
					 0px 1px 0px #005580;
	}
}

.task {
	margin: 20px;
	padding: 20px;
	background: white;
	@include round-corners(5px);
	@include box-shadow(0px, 0px, 20px, rgba(0,0,0, 0.5));

	.title {
		border-bottom: 1px solid $subtle-line;

		padding-bottom: 0.5em;
		margin-bottom: 0.5em;
	}

	.title input {
		width: 100%;
		border: none;
		color: #444;
		font-size: 1.5em;
		font-weight: bold;
		@include box-shadow-clear();
	}

	.details textarea {
		border: none;
		width: 100%;
		font-family: sans-serif;
		font-size: 1em;
		@include box-shadow-clear();
		}

	.details textarea.transition {
			-webkit-transition: height 0.2s;
			-moz-transition: height 0.2s;
			transition: height 0.2s;
		}
}