<div class="left">

	<div class='tools'>
		{{render tags}}
		{{#linkTo tasks.new class='btn btn-small btn-primary pull-right'}}New{{/linkTo}}
	</div>

	<div class='tasks-list'>
		{{#each task in filteredContent}}
			{{ partial "taskItem" }}
		{{/each}}
	</div>
</div>
<div class="right">
	{{outlet}}
</div>